body, html {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.bg {
  background-image: url("../images/ertz.jpg");

  height: 100%;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.headers {
  position: absolute;
  left: 65%;
  top: 10%;
  color: white;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

ul {
  position: absolute;
  left: 13%;
  top: 50%;
  padding: 0;
  width: 260px;
}

ul li {
  list-style: none;
  padding: 10px;
  white-space: nowrap;
}

a:link, a:visited {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 10px;
  transition: color .25s;
}

@media screen and (min-width: 993px) {
  .highlight {
      width: 0;
      background: white;
      transition: width .5s;
  }

  .highlight:hover {
    width: 100%;
    background: white;
  }

  a:hover {
    color: black;
    transition: color .25s;
  }

  li:active {
    /* background: #4A73E2; */
    background: black;
    transition: background-color .1s;
  }

  li {
    transition: background-color 1s;
  }

  a:active {
    color: white;
    transition: color .1s;
  }
}

@media screen and (max-width: 992px) {
  #container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .headers {
    position: static;
    text-align: center;
  }

  ul {
    position: static;
  }

  h1 {
    top: 50%;
    font-size: 24pt;
    padding: 5px;
  }

  ul li {
    margin: 10px;
  }

  a:link {
    font-size: 20pt;
    text-align: center;
    margin: auto;
  }

  .highlight {
    text-align: center;
    margin:auto;
    transition-duration: 1s;
  }

  .highlight:active {
    width: 100%;
    background: white;
    transition-duration: 0.1s;
  }

  a:active {
    color: black;
    transition: color .1s;
  }

}
